[Unit]
Description=Run enervent-pingvin-sniffer every 10 minutes

[Timer]
# Delay after boot before first run
OnBootSec=2min
# Run every 15 minutes
OnUnitActiveSec=15min
Persistent=false
Unit=enervent-pingvin-sniffer.service

[Install]
WantedBy=timers.target
